[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
halo = "*"
owcli = ">=0.4.2"

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
