[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
halo = "*"
owcli = ">=0.6.1"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
